.each-Blog-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog-heading-published-date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.blog-heading {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  color: #12022f;
}

.blog-published-date {
  color: #9aa5b1;
  font-family: 'Roboto';
  font-size: 13px;
}

.blog-description {
  color: #9aa5b1;
  font-family: 'Roboto';
  font-size: 15px;
}

.hr-line {
  color: #9aa5b1;
  margin: 0px;
}
